var config = require('./config.global');

config.env = '{{ app_env }}';
config.port = {{ app_port }};

//mongo database
config.mongo.dbserver = '{{ db_server }}';
config.mongo.dbuser = '{{ app_user }}';
config.mongo.dbpassword = '{{ app_password }}';
config.mongo.dbname = '{{ app_dbname }}';
config.mongo.dbport = {{ db_port }};

module.exports = config;
