db = db.getSiblingDB('admin');
db.createUser(
  {
    user: "{{ admin_user }}",
    pwd: "{{ admin_password }}",
    roles: [ { role: "userAdminAnyDatabase", db: "admin" } ]
  }
);
db = db.getSiblingDB('{{ app_dbname }}');
db.createUser(
  {
    user: "{{ app_user }}",
    pwd: "{{ app_password }}",
    roles: [ { role: "readWrite", db: "{{ app_dbname }}" } ]
  }
);

